body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    color:green;
}
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 2px;
  }

.section { 
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 5px #000;
  }
.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px);
    background-size: 100%;
    z-index: -1;
    background-attachment: fixed;
  }
.static {
    background-color: green;
  }
.bg1::after{
    background-image:url("background1.jpg");

}
.bg2::after{
    background-image:url("background2.png");
    
}
